.bc-player-bdfedea6-c590-417b-8bb8-67096d18d7b4_default.vjs-mouse .vjs-big-play-button {
	width: 156px;
	height: 105px;
	position: inherit;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}
.bc-player-bdfedea6-c590-417b-8bb8-67096d18d7b4_default .vjs-big-play-button {
        border-radius:0;
}
